Q.1 Create a dataset as follow in the table.

In [109]:
import pandas as pd
data = {
    'Tid':[1,2,3,4,5,6,7,8,9,10],
    'Refund':['Yes','No','No','Yes','No','No','Yes','No','No','No'],
    'Martial Status':['Single','Maried','Single','Maried','Divorced','Maried','Divorced','Single','Maried','Divorced'],
    'Taxable Income':['125K','100K','70K','120K','95K','60K','220K','85K','75K','90K'],
    'Cheat':['No','No','No','No','Yes','No','No','Yes','No','Yes']   
        }
df = pd.DataFrame(data)
df = df.reset_index(drop=True)
print(df)

   Tid Refund Martial Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No         Maried           100K    No
2    3     No         Single            70K    No
3    4    Yes         Maried           120K    No
4    5     No       Divorced            95K   Yes
5    6     No         Maried            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No         Maried            75K    No
9   10     No       Divorced            90K   Yes

Q.2 From the above table that you have created, locate row 0, 4, 7 and 8 using DataFrame.

In [110]:
df1 = df.loc[[0,4,7,8]]
print(df1)

   Tid Refund Martial Status Taxable Income Cheat
0    1    Yes         Single           125K    No
4    5     No       Divorced            95K   Yes
7    8     No         Single            85K   Yes
8    9     No         Maried            75K    No

Q.3 Navigate the DataFrame and do the following task for the table created in question 1:
1. Select row from index 3 to 7.
2. Select row from index 4 to 8, and column 2 to 4.
3. Select all rows with column index 1 to 3 (include index 3 during selection).

In [111]:
print("task1 \n")
s1 = df.loc[3:7]
print(s1)
print("\n \n task 2 \n")
s2 = df.iloc[4:9,2:5]
print(s2)
print("\n \n task 3 \n")
s3=df.iloc[:,1:4]
print(s3)

task1

   Tid Refund Martial Status Taxable Income Cheat
3    4    Yes         Maried           120K    No
4    5     No       Divorced            95K   Yes
5    6     No         Maried            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes


 task 2

  Martial Status Taxable Income Cheat
4       Divorced            95K   Yes
5         Maried            60K    No
6       Divorced           220K    No
7         Single            85K   Yes
8         Maried            75K    No


 task 3

  Refund Martial Status Taxable Income
0    Yes         Single           125K
1     No         Maried           100K
2     No         Single            70K
3    Yes         Maried           120K
4     No       Divorced            95K
5     No         Maried            60K
6    Yes       Divorced           220K
7     No         Single            85K
8     No         Maried            75K
9     No       Divorced            90K

Q.4 Read a csv file and display its first five rows.

In [112]:
data = pd.read_csv("IRIS.csv")
df2 = pd.DataFrame(data)
rows = df2.head()
print(rows)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Q.5 From the csv file (uploaded in the Q.4) delete row 4, and delete column 3. Display the
result.

In [113]:
df2.drop(index=4,columns=df2.columns[2],inplace=True)
print(df2)

     sepal_length  sepal_width  petal_width         species
0             5.1          3.5          0.2     Iris-setosa
1             4.9          3.0          0.2     Iris-setosa
2             4.7          3.2          0.2     Iris-setosa
3             4.6          3.1          0.2     Iris-setosa
5             5.4          3.9          0.4     Iris-setosa
..            ...          ...          ...             ...
145           6.7          3.0          2.3  Iris-virginica
146           6.3          2.5          1.9  Iris-virginica
147           6.5          3.0          2.0  Iris-virginica
148           6.2          3.4          2.3  Iris-virginica
149           5.9          3.0          1.8  Iris-virginica

[149 rows x 4 columns]

Q.6 Create a sample dataset (employees.csv) containing information about employees in
a company.
WAP to determine the following using dataset in Q6:
a) Shape (number of rows and columns) of the DataFrame.
b) Summary of the DataFrame that includes the data types and non-null counts for
each column.
c) Generate descriptive statistics.
d) Display the first 5 rows and last 3 rows of the dataset.
e) Calculate the following statistics from the dataset:
i. The average salary of employees.
ii. The total bonus paid to all employees.
iii. The youngest employee's age.
iv. The highest performance rating.

f) Sort the DataFrame by the Salary column in descending order.
g) Add a new column that categorizes employees based on their performance rating:

i. Excellent for ratings >= 4.5
ii. Good for ratings >= 4.0 but < 4.5
iii. Average for ratings < 4.0
h) Identify missing values in the DataFrame.
i) Rename the Employee_ID column to ID.
j) Find all employees who:

i. Have more than 5 years of experience.
ii. Belong to the IT department.

k) Modify the dataset by adding a new column, Tax, which deducts 10% of the
Salary.
l) Save the modified DataFrame (with added columns) to a new CSV file.

In [114]:
data1 = pd.read_csv("firstcs.csv")
df3 = pd.DataFrame(data1)
# print(data1)
# a)

print("\n shape of dataframe ",df3.shape)

# # b)
print("\n data-types and non counts \n \n")
df3.info()

# c)
print("\n \n descriptive statistics \n",df3.describe())

# d)
print(df3.head(5))
print(df3.tail(3))

# # e)
stats  = df3.describe()
print(stats)
print(stats.loc['mean','Salary'])
print(stats.loc['min','Age'])
count = stats.loc['count','Bonus']
mean = stats.loc['mean','Bonus']
print(mean*count)
print(stats.loc['max','Rating'])

# f)
df_sorted = df3.sort_values(by='Salary',ascending=False)
# print(df_sorted)

# g)
def categorize(rating):
    if rating >=4.5:
        return "Excellent"
    elif rating >= 4.0:
        return "Good"
    else:
        return "Average"
    
df_sorted['Performance']= df_sorted['Rating'].apply(categorize)
# print(df_sorted)

missing_values = df_sorted.isnull().sum()
# print(missing_values)


df_sorted.rename(columns = {'Employee_ID':'ID'},inplace=True)
# print(df_sorted)

experienced_employees = df_sorted[df_sorted['Years_of_Experience'] > 5]
# print(experienced_employees)

IT_dept = df_sorted[df_sorted['Department']=='IT']
# print(IT_dept)

df_sorted['Tax'] = df_sorted['Salary']*0.10
# print(df_sorted)


df_sorted.to_csv('modified_employees.csv', index=False)